.noticeDetailWrap {
    width: 100%;
    margin: 0 auto;
    max-width: 760px;
    max-height: 483px;
    padding: 70px 0px;
}

.detailWrap {
    border: 2px solid black;
    border-radius: 20px;
    padding: 25px;
    background-color: #00000091;
    max-height: 484px;
    overflow-y: auto;
    scrollbar-width: none;
}

.noticeDetailContent {
    font-size: 15px;
    color: white;
    padding: 20px 0;
    white-space: pre-line;
}

.noticeDetailInfo {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    border-bottom: 1px solid black;
    color: white;
    padding: 0px 0 18px 0;
}

.noticeDetailBtns {
    text-align: right;
    padding: 30px 0;
}

.noticeListBtn {
    border-radius: 5px;
    padding: 6px 12px;
    background-color: #4e996c;
    font-size: 14px;
    color: white;
    font-weight: bold;
}
