<!-- π“ views/index.ejs -->
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <title>FCOAlways</title>
        <link rel="stylesheet" href="/css/common.css" />

        <!-- λ¬΄λ£μ•„μ΄μ½ -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        />
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    </head>
    <body>
        <div class="container">
            <!-- κ³µν†µ ν—¤λ” -->
            <%- include('share/header.ejs') %>

            <main class="mainArea">
                <!-- λ©”μΈ κ²€μƒ‰ λ°” -->
                <% if (components === 'searchNickname') { %> <%- include('search/index.ejs') %> <% }
                %>
            </main>

            <!-- κ³µν†µ ν‘Έν„° -->
            <%- include('share/footer.ejs') %>

            <!-- κ³µν†µ λ¨λ‹¬ -->
            <%- include('share/modal.ejs') %>
        </div>
    </body>
</html>
