@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
        format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SUIT-Regular';
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1090px;
    /* margin: 0 auto; */
    min-height: 100vh;
    /* 세로 정렬후 각자 벌림 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainArea {
    height: 74%;
    flex: 1;
}

.hide {
    display: none;
}

.action {
    background-color: #4e996c !important;
    color: white !important;
}

/* 카카오 광고 */
/* .kakao_ad_area{
    display: unset !important;
} */

.forKaKaoAd {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

@media screen and (max-width: 1125px) {
    .kakao_ad_area.pc {
        display: none !important;
    }

    .headerMob,
    .footerMob {
        display: unset !important;
    }
}

@media screen and (min-width: 1125px) {
    .kakao_ad_area.pc {
        display: unset !important;
    }

    .headerMob,
    .footerMob {
        display: none !important;
    }
}
