.header {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
}

a{
    color: black;
    text-decoration: unset;
    font-weight: bold;
    font-size: 18px;
    padding: 0 20px;
}