.searchBarContainer {
    margin: 100px auto;
    padding: 0 20px;
}

.userSearchArea {
    width: 100%;
    margin: 0 auto;
    max-width: 760px;
}

.userSearchArea #nickname {
    padding: 15px 25px;
    border: 2px solid black;
    border-radius: 25px;
    width: 100%;
    box-sizing: border-box;
}

.matchSearchBtnWrap {
    display: flex;
    width: 100%;
}

.officialSearchBtn {
    flex: 1;
    border: 0;
    background-color: rgb(129 129 129);
    font-size: 24px;
    padding: 6px 64px;
    border-radius: 0 0 0px 25px;
    cursor: pointer;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}

.officialSearchBtn:hover {
    background-color: #007bff;
    color: white;
    border-bottom: 2px solid #007bff;
    border-left: 2px solid #007bff;
    border-right: 2px solid black;
}

.managerSearchBtn {
    flex: 1;
    border: 0;
    background-color: rgb(129 129 129);
    font-size: 24px;
    padding: 6px 64px;
    border-radius: 0 0 25px 0px;
    cursor: pointer;
    border-bottom: 2px solid;
    border-right: 2px solid;
}

.managerSearchBtn:hover {
    background-color: #007bff;
    color: white;
    border-bottom: 2px solid #007bff;
    border-right: 2px solid #007bff;
}

.searchButton {
    top: 35px;
    left: 682px;
    position: relative;
    cursor: pointer;
}

.userContent {
    display: flex;
    flex-direction: column;
    max-width: 760px;
    width: 100%;
    margin: 0 auto;
}

.userInfoWrap {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    border-top: 0;
    padding: 15px 25px;
    gap: 40px;
}
.userInfoWrap > div {
    width: 147px;
    display: flex;
}

.userContent .matchInfo {
    margin: 0 auto;
    width: 760px;
}

.matchContent {
    text-align: center;
}

.matchEachInfo {
    display: flex;
    justify-content: center;
}
