.searchBarContainer {
    margin: 100px auto;
    padding: 0 20px;
}

.userSearchArea {
    width: 100%;
    max-width: 594px;
    margin: 0 auto;
}

.userSearchArea #nickname {
    padding: 15px 25px;
    border: 2px solid black;
    border-radius: 25px;
    width: 100%;
    box-sizing: border-box;
}

.userContent {
    display: flex;
    flex-direction: row;
}

.userContent .matchInfo {
    margin: 0 auto;
    width: 780px;
}

.matchContent {
    text-align: center;
}

.matchEachInfo {
    display: flex;
    justify-content: center;
}
