.searchBarContainer {
    margin: 100px auto;
    padding: 0 20px;
}

.userSearchArea {
    width: 100%;
    margin: 0 auto;
    max-width: 760px;
}

.userSearchArea #nickname {
    padding: 15px 25px;
    border: 2px solid black;
    border-radius: 25px;
    width: 100%;
    box-sizing: border-box;
}

.matchSearchBtnWrap {
    display: flex;
    width: 100%;
}

.officialSearchBtn {
    flex: 1;
    border: 0;
    background-color: rgb(129 129 129);
    font-size: 24px;
    padding: 6px 64px;
    border-radius: 0 0 0px 25px;
    cursor: pointer;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.officialSearchBtn:hover {
    background-color: #4e996c;
    color: white;
    border-bottom: 2px solid #4e996c;
    border-left: 2px solid #4e996c;
    border-right: 2px solid black;
}

.managerSearchBtn {
    flex: 1;
    border: 0;
    background-color: rgb(129 129 129);
    font-size: 24px;
    padding: 6px 64px;
    border-radius: 0 0 25px 0px;
    cursor: pointer;
    border-bottom: 2px solid;
    border-right: 2px solid;
}

.managerSearchBtn:hover {
    background-color: #4e996c;
    color: white;
    border-bottom: 2px solid #4e996c;
    border-right: 2px solid #4e996c;
}

.searchButton {
    top: 35px;
    left: 682px;
    position: relative;
    cursor: pointer;
}

.userContent {
    display: flex;
    flex-direction: column;
    max-width: 760px;
    width: 100%;
    margin: 0 auto;
}

.userInfoWrap {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    border-top: 0;
    padding: 15px 25px;
    gap: 40px;
    background-color: white;
}

.userInfoWrap > div {
    width: 147px;
    display: flex;
}

.userContent .matchInfo {
    margin: 0 auto;
    width: 760px;
}

.matchContent {
    text-align: center;
}

.matchList {
    margin: 40px 0px;
}

.matchEachSimple {
    background-color: #4e996c;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    padding: 35px;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 15px;
    gap: 65px;
    transition: border-radius 0.2s ease, margin-bottom 0.2s ease;
}

.matchEachSimple:hover {
    background-color: #3b7e57;
    color: white;
    cursor: pointer;
}

.matchEachSimple.lose {
    background-color: #dc4c4c;
    /* 기본 붉은색 */
}

.matchEachSimple.lose:hover {
    background-color: #b53737;
    /* 더 진한 붉은색 */
    color: white;
    cursor: pointer;
}

.nickNameDiv {
    width: 185px;
}

.matchEachDetail {
    border-radius: 0 0 25px 25px;
    border: 1px solid #4e996c;
    border-top: 0;
}

.matchEachSimple.lose + .matchEachDetail {
    border: 1px solid #b53737;
    border-top: 0;
}

/* 토글안 CSS */

.matchEachDetailBtnWrap {
    display: flex;
}

.matchEachDetailInfo {
    background-color: white;
}

.matchEachDetailInfoWrap {
    display: flex;
    padding: 15px 0;
}

.matchEachDetailBtnWrap div {
    border-bottom: 1px solid #4e996c;
    width: 360px;
    padding: 17px;
    font-size: 17px;
    font-weight: bold;
}

.matchEachDetailBtnWrap div:hover {
    background-color: #4e996c;
    color: white;
}

.matchEachSimple.lose + .matchEachDetail .matchEachDetailBtnWrap div {
    border-bottom: 1px solid #b53737 !important;
    width: 360px;
    padding: 17px;
    font-size: 17px;
    font-weight: bold;
}

.matchEachSimple.lose + .matchEachDetail .matchEachDetailBtnWrap div.action {
    background-color: #b53737 !important;
}

.matchEachSimple.lose + .matchEachDetail .matchEachDetailBtnWrap div:hover {
    background-color: #b53737 !important;
    color: white;
}

.matchEachDetailOwnerPlace,
.matchEachDetailMiddlePlace,
.matchEachDetailOtherPlace {
    width: 360px;
    font-size: 15px;
    font-weight: bold;
    line-height: 2;
}

/* 스쿼드 탭 */
.matchEachDetailSquadWrap {
    display: flex;
    flex-direction: row;
}

.squadMap {
    position: relative;
    width: 100%;
    max-width: 532px;
    aspect-ratio: 2.1 / 2;
    background: url('/img/squadImg.png') no-repeat center center;
    background-size: cover;
    border-right: 2px solid #4e996c;
}

.squadPlayerWrap {
    width: 224px;
    font-size: 17px;
    font-weight: bold;
}

.squadUserChoice {
    display: flex;
    justify-content: space-around;
}

.squadPlayerWrap .mySquad {
    border-bottom: 1px solid black;
    padding: 14px 31px;
    border-right: 1px solid black;
    cursor: pointer;
    width: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.squadPlayerWrap .mySquad.action {
    background-color: #4e996c !important;
}

.matchEachSimple.lose
    + .matchEachDetail
    .matchEachDetailSquadWrap
    .squadPlayerWrap
    .squadUserChoice
    div.action {
    background-color: #b53737 !important;
    border-bottom: 1px solid #b53737;
}

.squadPlayerWrap .otherSquad {
    border-bottom: 1px solid #4e996c;
    padding: 14px 27px;
    cursor: pointer;
    width: 68px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.squadPlayerWrap .otherSquad.action {
    background-color: #4e996c !important;
}

.eachPlayerWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 5px;
}

.eachPlayerName {
    width: 52px;
}

.eachPlayerGrade {
    width: 37px;
    font-weight: bold;
}

.eachPlayerStWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.playerSeasonAndGrade {
    display: flex;
    flex-direction: column;
    width: 53px;
}

.fieldPlayer {
    width: 70px;
}

.fieldPlayer .seasonAndGradeWrap .eachPlayerName{
    height: 22px;
}

.seasonAndGradeWrap {
    display: flex;
    align-items: center;
}
/* 추후 그라데이션 추가를 위해서
background-image: linear-gradient(to top, #b53737 0%, #ffc8c8 100%); */
