.sicontm {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/icontm.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.sicontm_b {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/icontm_b.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.sicon {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.sicon_m {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/icon_m.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.sgru {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/gru.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.sbld {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/bld.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.sbdo {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/bdo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.s24ep {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/24ep.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.scu {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/cu.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.smdl {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/mdl.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.seu24 {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/eu24.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.sld {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/ld.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.sut {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/ut.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.sjnm {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/jnm.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.sdc {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/dc.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.sjva {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/jva.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.sfca {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/fca.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.s23hw {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/23hw.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.scc {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/cc.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.shg {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/hg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.srtn {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/rtn.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.sbwc {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/bwc.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.swc22 {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/wc22.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.srmcf {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/rmcf.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.sspl {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/spl.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.sln {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/ln.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.slol {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/lol.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.sfa {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/fa.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.s25hr {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/25hr.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.s24hr {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/24hr.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.s23hr {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/23hr.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.s22hr {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/22hr.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.sbtb {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/btb.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.scap {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/cap.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.sebs {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/ebs.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.sboe21 {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/boe21.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.sntg {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/ntg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.sup {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/up.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.smc {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/mc.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.svtr {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/vtr.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.smog {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/mog.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.scfa {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/cfa.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.sla {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/la.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.s23ng {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/23ng.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.s22ng {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/22ng.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.s21ng {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/21ng.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.s20ng {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/20ng.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.s19ng {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/19ng.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.sotw {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/otw.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.scoc {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/coc.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.shot {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/hot.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.stc {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/tc.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.smcicon {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/mcicon.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.sgr {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/gr.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.stt {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/tt.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.stb {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/tb.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.stki {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/tki.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.snhd {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/nhd.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.s25toty {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/25toty.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.s25totn {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/25totn.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.s24toty {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/24toty.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.s24totn {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/24totn.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.s23toty {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/23toty.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.s23totn {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/23totn.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.s22toty {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/22toty.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.s22totn {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/22totn.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.s21toty {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/21toty.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.s21totn {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/21totn.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.s20toty {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/20toty.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.s20totn {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/20totn.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.s19toty {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/19toty.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.s18toty {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/18toty.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.s24tots {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/24tots.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s23tots {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/23tots.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s22tots {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/22tots.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s21tots {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/21tots.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s20tots {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/20tots.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s19tots {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/19tots.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s24ucl {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/24ucl.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s23ucl {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/23ucl.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s22ucl {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/22ucl.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s21ucl {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/21ucl.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s20ucl {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/20ucl.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s19ucl {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/19ucl.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.slh {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/lh.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.stkl {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/tkl.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s23kfa {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/23kfa.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s22kfa {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/22kfa.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s21kfa {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/21kfa.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s2019kfa {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/2019kfa.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.skfa {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/kfa.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.smcfc {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/mcfc.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s2012kh {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/2012kh.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s24kl {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/24kl.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s23kl {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/23kl.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s22kl {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/22kl.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s21kl {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/21kl.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s20kl {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/20kl.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s24klb {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/24klb.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s23klb {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/23klb.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s22klb {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/22klb.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s21klb {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/21klb.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s20klb {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/20klb.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s24pla {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/24pla.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s23pla {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/23pla.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s22pla {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/22pla.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s21pla {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/21pla.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s20pla {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/20pla.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s19pls {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/19pls.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s19pla {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/19pla.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s18pls {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/18pls.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.splc {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/plc.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.slive {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/live.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s23 {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/23.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s22 {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/22.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s21 {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/21.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s20 {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/20.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s19 {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/19.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s18 {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/18.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s17 {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/17.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.slki {
  background-image: url(https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/new/season/lki.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}