<link rel="stylesheet" href="/css/searchBar.css" />
<link rel="stylesheet" href="/css/level.css" />

<div class="searchBarContainer">
    <div class="userSearchArea">
        <span for="nickname" class="searchButton">검색</span>
        <input type="text" id="nickname" placeholder="유저명을 입력해주세요" />
    </div>
    <div class="userContent">
        <div class="userInfo hide">
            <div class="userInfoWrap">
                <div>
                    <label for="name">닉네임 :</label>
                    <div id="name"></div>
                </div>
                <div>
                    <label for="level">레벨 :</label>
                    <div id="level"></div>
                </div>
                <div>
                    <label for="officialMax">공식경기:</label>
                    <div id="officialMax"></div>
                </div>
                <div>
                    <label for="managerMax">감독경기:</label>
                    <div id="managerMax"></div>
                </div>
            </div>
        </div>
        <div class="matchInfo hide">
            <div class="matchContent">
                <div class="matchSearchBtnWrap">
                    <button class="officialSearchBtn">공식 경기</button>
                    <button class="managerSearchBtn">감독 경기</button>
                </div>
                <div class="matchList">
                    <div class="matchEachInfo">
                        <div class="matchEachSimple">
                            <div>상원아</div>
                            <div>승</div>
                            <div>5</div>
                            <div>:</div>
                            <div>2</div>
                            <div>패</div>
                            <div>신</div>
                        </div>
                        <div class="matchEachDetail hide">
                            <div>
                                <div class="matchEachDetailInfo">
                                    <div class="matchEachDetailBtnWrap">
                                        <div class="matchDetail">상세정보</div>
                                        <div class="matchSquad">스쿼드</div>
                                        <div class="matchPlayerAvg">선수평가</div>
                                    </div>
                                    <div class="matchEachDetailInfoWrap">
                                        <div class="matchEachDetailOwnerPlace">
                                            <div>46</div>
                                            <div>1.18</div>
                                            <div>1</div>
                                            <div>10</div>
                                            <div>3</div>
                                            <div>0</div>
                                            <div>0</div>
                                            <div>0</div>
                                            <div>57</div>
                                            <div>3</div>
                                            <div>32</div>
                                            <div>3</div>
                                            <div>1</div>
                                            <div>1</div>
                                            <div>0</div>
                                            <div>0</div>
                                            <div>0</div>
                                        </div>
                                        <div class="matchEachDetailMiddlePlace">
                                            <div>점유율</div>
                                            <div>경기평점</div>
                                            <div>골</div>
                                            <div>슈팅수</div>
                                            <div>유효슛</div>
                                            <div>자책골</div>
                                            <div>프리킥</div>
                                            <div>패널티킥</div>
                                            <div>패스</div>
                                            <div>롱패스</div>
                                            <div>스루패스</div>
                                            <div>코너킥</div>
                                            <div>오프사이드</div>
                                            <div>파울</div>
                                            <div>부상</div>
                                            <div>옐로카드</div>
                                            <div>레드카드</div>
                                        </div>
                                        <div class="matchEachDetailOtherPlace">
                                            <div>46</div>
                                            <div>1.18</div>
                                            <div>1</div>
                                            <div>10</div>
                                            <div>3</div>
                                            <div>0</div>
                                            <div>0</div>
                                            <div>0</div>
                                            <div>57</div>
                                            <div>3</div>
                                            <div>32</div>
                                            <div>3</div>
                                            <div>1</div>
                                            <div>1</div>
                                            <div>0</div>
                                            <div>0</div>
                                            <div>0</div>
                                        </div>
                                    </div>
                                    <div class="matchEachDetailSquadWrap">
                                        <div class="squadMap">
                                        </div>
                                        <div class="squadPlayerWrap">
                                            <div class="squadUserChoice">
                                                <div class="mySquad action">상원아</div>
                                                <div class="otherSquad">상대다다</div>
                                            </div>
                                            <div class="squadPlayer">
                                                <div class="eachPlayerWrap">
                                                    <div class="eachPlayerSeason">24토티티</div>
                                                    <div class="eachPlayerGrade">8</div>
                                                    <div class="eachPlayerName">레반</div>
                                                    <div class="eachPlayerAvg">8.8</div>
                                                </div>
                                                <div class="eachPlayerWrap"> <div class="eachPlayerSeason">24토티티</div>
                                                    <div class="eachPlayerGrade en_level8">8</div>
                                                    <div class="eachPlayerName">레반</div>
                                                    <div class="eachPlayerAvg">8.8</div></div>
                                                <div class="eachPlayerWrap"> <div class="eachPlayerSeason">24토티티</div>
                                                    <div class="eachPlayerGrade">8</div>
                                                    <div class="eachPlayerName">레반</div>
                                                    <div class="eachPlayerAvg">8.8</div></div>
                                                <div class="eachPlayerWrap"> <div class="eachPlayerSeason">24토티티</div>
                                                    <div class="eachPlayerGrade">8</div>
                                                    <div class="eachPlayerName">레반</div>
                                                    <div class="eachPlayerAvg">8.8</div></div>
                                                <div class="eachPlayerWrap"> <div class="eachPlayerSeason">24토티티</div>
                                                    <div class="eachPlayerGrade">8</div>
                                                    <div class="eachPlayerName">레반</div>
                                                    <div class="eachPlayerAvg">8.8</div></div>
                                                <div class="eachPlayerWrap"> <div class="eachPlayerSeason">24토티티</div>
                                                    <div class="eachPlayerGrade">8</div>
                                                    <div class="eachPlayerName">레반</div>
                                                    <div class="eachPlayerAvg">8.8</div></div>
                                                <div class="eachPlayerWrap"> <div class="eachPlayerSeason">24토티티</div>
                                                    <div class="eachPlayerGrade">8</div>
                                                    <div class="eachPlayerName">레반</div>
                                                    <div class="eachPlayerAvg">8.8</div></div>
                                                <div class="eachPlayerWrap"> <div class="eachPlayerSeason">24토티티</div>
                                                    <div class="eachPlayerGrade">8</div>
                                                    <div class="eachPlayerName">레반</div>
                                                    <div class="eachPlayerAvg">8.8</div></div>
                                                <div class="eachPlayerWrap"> <div class="eachPlayerSeason">24토티티</div>
                                                    <div class="eachPlayerGrade">8</div>
                                                    <div class="eachPlayerName">레반</div>
                                                    <div class="eachPlayerAvg">8.8</div></div>
                                                <div class="eachPlayerWrap"> <div class="eachPlayerSeason">24토티티</div>
                                                    <div class="eachPlayerGrade">8</div>
                                                    <div class="eachPlayerName">레반</div>
                                                    <div class="eachPlayerAvg">8.8</div></div>
                                                <div class="eachPlayerWrap"> <div class="eachPlayerSeason">24토티티</div>
                                                    <div class="eachPlayerGrade">8</div>
                                                    <div class="eachPlayerName">레반</div>
                                                    <div class="eachPlayerAvg">8.8</div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="matchEachInfo">
                        <div class="matchEachSimple lose">
                            <div>상원아</div>
                            <div>승</div>
                            <div>2</div>
                            <div>:</div>
                            <div>3</div>
                            <div>패</div>
                            <div>신</div>
                        </div>
                        <div class="matchEachDetail hide">
                            <div>
                                <div class="matchEachDetailInfo">
                                    <div>상원아</div>
                                    <div>승</div>
                                    <div>5</div>
                                    <div>:</div>
                                    <div>2</div>
                                    <div>패</div>
                                    <div>신</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/searchBar.js"></script>
