<link rel="stylesheet" href="/css/searchBar.css" />
<div class="searchBarContainer">
    <div class="userSearchArea">
        <span for="nickname" class="searchButton">검색</span>
        <input type="text" id="nickname" placeholder="유저명을 입력해주세요" />
    </div>
</div>

<script src="/js/main/main-searchBar-funtion.js"></script>
