<link rel="stylesheet" href="/css/searchBar.css" />
<link rel="stylesheet" href="/css/level.css" />
<link rel="stylesheet" href="/css/season.css" />
<link rel="stylesheet" href="/css/position.css" />

<div class="searchBarContainer">
    <div class="userSearchArea">
        <span for="nickname" class="searchButton">검색</span>
        <input type="text" id="nickname" placeholder="유저명을 입력해주세요" />
    </div>
    <div class="userContent">
        <div class="userInfo hide">
            <div class="userInfoWrap">
                <div>
                    <label for="name">닉네임 :</label>
                    <div id="name"></div>
                </div>
                <div>
                    <label for="level">레벨 :</label>
                    <div id="level"></div>
                </div>
                <div>
                    <label for="officialMax">공식경기:</label>
                    <div id="officialMax"></div>
                </div>
                <div>
                    <label for="managerMax">감독경기:</label>
                    <div id="managerMax"></div>
                </div>
            </div>
        </div>
        <div class="matchInfo hide">
            <div class="matchContent">
                <div class="matchSearchBtnWrap">
                    <button class="officialSearchBtn">공식 경기</button>
                    <button class="managerSearchBtn">감독 경기</button>
                </div>
                <div class="matchList"></div>
            </div>
        </div>
    </div>
</div>

<script src="/js/matchList-component.js"></script>
<script src="/js/searchBar.js"></script>
