<link rel="stylesheet" href="/css/footer.css" />

<div class="footerContainer">
    <ins class="kakao_ad_area" style="display:none;"
    data-ad-unit = "DAN-fEUR5BxXuLhEGP9N"
    data-ad-width = "728"
    data-ad-height = "90"></ins>
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    <footer>
        <p>&copy; 2025 FIFAONLINEALWAYS. All rights reserved.</p>
        <p>모든 상품/선수 이미지의 저작권은 NEXON Korea에 있습니다.</p>
        <p>모든 정보는 NEXON Open API와 NEXON FC ONLINE 홈페이지를 통해 제공받습니다.</p>
    </footer>
</div>
