<link rel="stylesheet" href="/css/header.css"/>
<div class="header">
    <ins class="kakao_ad_area headerMob" style="display:none;"
    data-ad-unit = "DAN-fEUR5BxXuLhEGP9N"
    data-ad-width = "728"
    data-ad-height = "90"></ins>
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    <header>
            <a href="/">전적검색</a> 
            <!-- <a href="/simulation/upgrade">강화 시뮬레이션</a>  -->
            <a href="/notice">공지사항</a>
            <a href="https://forms.gle/URkNhJ4uQ5u3DcZA7" target="_blank">문의사항</a> 
    </header>
</div>