<link rel="stylesheet" href="/css/notice/noticeDetail.css" />

<div class="noticeDetailWrap">
    <div class="detailWrap">
        <div class="noticeDetailInfo">
            <span class="noticeDetailTitle"></span>
            <span class="noticeDetailDate"></span>
        </div>

        <div class="noticeDetailContent"></div>
    </div>
    <div class="noticeDetailBtns">
        <a href="/notice" class="noticeListBtn">목록으로</a>
    </div>
</div>

<script>
    $(document).ready(function () {
        const id = window.location.pathname.split('/')[3];

        getDetail(id);
    });

    async function getDetail(id) {
        $.ajax({
            url: `/api/notice/detail/${id}`,
            type: 'GET',
            beforeSend: function () {
                showLoading();
            },
            complete: function () {
                hideLoading();
            },
            success: async function (data) {
                if (data) {
                    $('.noticeDetailTitle').text(data.title);
                    $('.noticeDetailContent').text(data.content);
                    $('.noticeDetailDate').text(data.createdAt);
                }
            },
            error: function (err) {
                showModal(err.responseJSON.message);
            },
        });
    }
</script>
