<link rel="stylesheet" href="/css/noticeDetail.css" />

<div class="noticeDetailWrap">
  <div class="detailWrap">
    <div class="noticeDetailInfo">
      <span class="noticeDetailTitle">안녕하세요. 개발자 입니다!!</span>
      <span class="noticeDetailDate">2024-04-27</span>
    </div>

    <div class="noticeDetailContent">
      안녕하세요. FCOAlways 개발자 입니다.

      개발자 1년차로써 근무를 하면서 제가 좋아하는 피파를 관련되서 개발을 해보고싶은 마음에
      이렇게 시작한 페이지입니다.

      많이 부족한 점이 많아도 좋게 봐주시면 좋겠습니다.
      
      앞으로 사이트 업데이트 등 되었을때 최대한 이곳에 업로드해서 공유하겠습니다.

      원하시는 기능 또는 부족한 부분이 있으면 문의사항에 남겨주시면 최대한 반영하겠습니다!

      또한 제가 지금 무료 서버를 이용하고있어서 새벽시간에는 서버가 자동 중지가 되면서 
      
      페이지에 들어왔을때 중지된 페이지라고 뜰때가 있을겁니다. 

      제가 아침에 출근하기전에 항상 손수 키고있으므로 달에 11,000원 수익이 생기면 그때 이후로

      바로 결제해 꺼지지않도록 하겠습니다.

      감사합니다!
      FCOAlways 개발지 올림.
    </div>

</div>
<div class="noticeDetailBtns">
  <a href="/notice" class="noticeListBtn">목록으로</a>
</div>
</div>
